body{
   font-family: 'Roboto', sans-serif;
}
aside a{
    color: #059669;
    font-weight: bold;
    text-decoration: none;
}

.formulario-contenedor > h3{
   color: #111827;
   border-bottom: 2px solid #E5E7EB;
   padding-bottom: 5px;
}

input[type="text"],
input[type="email"]{
    background-color: #F3F4F6;
    color: #374151;
    text-transform: uppercase;
}

button[type="submit"]{
    background-color: #2563EB;
    color: white;
    text-transform: uppercase;
}
a[target="_blank"]{
    background-color: #FEF08A;
}